.login-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 35px;
}

.login-page .signup-section,
.login-page .login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-section form {
    display: flex;
    flex-direction: column;
}

.login-section input {
    margin-bottom: 10px;
    margin-top: 0;
    width: 350px;
    height: 30px;
    text-align: center;
}

.login-section form button {
    align-self: flex-end;
    margin-top: 10px;
}