.login-page {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    gap: 50px;
}

.login-page .signup-section,
.login-page .login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h2 {
    font-size: 25px;
}

.login-section form {
    display: flex;
    flex-direction: column;
}

.login-section input {
    margin-bottom: 10px;
    margin-top: 0;
    width: 350px;
    height: 30px;
    text-align: center;
}

.login-section form button {
    align-self: flex-end;
    margin-top: 10px;
}


/*Responsive design from medium to large screen*/
@media screen and (min-width: 768px) {
    .login-page {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 35px;
        gap: 15%;
    }

    h2 {
        font-size: 2em;
    }
}
