.content-section {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.ticket-section {
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    padding: 10px 10px;
}

.ticket-details {
    background-color: #CCC2B8;
    display: flex;
    flex-direction: column;
    border: 3px solid #A18B7D;
    padding: 10px 10px;
    margin: 20px 50px;
    gap: 10px;
}

.ticket-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
}

.ticket-section img {
    max-height: 220px;
    height: auto;
    width: auto;
    object-fit: contain;
    border: 1px solid #A18B7D;
    align-self: center;
}

.review-section {
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    padding: 10px 10px;
    gap: 10px;
    margin-bottom: 2em;
}

.review-section form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

.review-section .form-input {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    gap: 10px;
}

.review-section label {
    font-weight: 600;
    font-size: 1.2em;
}

#id_headline {
    padding: 0.5em 0.4em;
    font-size: 16px;
}

#id_rating {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#id_body {
    padding: 0.4em;
    font-size: 16px;
}

.review-section button {
    align-self: flex-end;
    margin: 1em;
}