.content-section {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

.ticket-section,
.review-section {
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    padding: 10px 10px;
    gap: 10px;
}

.ticket-section {
    padding-bottom: 20px;
}

.review-section {
    margin-bottom: 2em;
}

h3 {
    margin-bottom: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin: 5px 20px;
    gap: 10px;
}

label {
    font-weight: 600;
    font-size: 1.2em;
}

#id_headline,
#id_title {
    padding: 0.5em 0.4em;
    font-size: 16px;
}

#id_rating {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#id_body,
#id_description {
    padding: 0.4em;
    font-size: 16px;
}

.review-section button {
    align-self: flex-end;
    margin: 1em;
}
