.create-ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-ticket form {
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 1.5em;
}

.create-ticket .form-input {
    display: flex;
    flex-direction: column;
    gap: 0.5em
}

.create-ticket label {
    font-weight: 600;
    text-decoration: none;
}

#id_title {
    padding: 0.5em 0.4em;
}

#id_description {
    padding: 0.4em;
}

.create-ticket button {
    align-self: flex-end;
}