.content-section {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
}

.ticket-section {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--lightest-color);
    padding: 10px 10px;
}

.ticket-details {
    background-color: var(--medium-light-color);
    display: flex;
    flex-direction: column;
    border: 3px solid var(--medium-dark-color);
    padding: 10px 10px;
    margin: 15px 5px 0;
    gap: 10px;
}

.ticket-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
}

.ticket-section img {
    max-height: 220px;
    height: auto;
    width: auto;
    object-fit: contain;
    border: 1px solid var(--medium-dark-color);
    align-self: center;
}

.review-section {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--lightest-color);
    padding: 10px 10px;
    gap: 10px;
    margin-bottom: 2em;
}

.review-section form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

.review-section .form-input {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    gap: 10px;
}

.review-section label {
    font-weight: 600;
    font-size: 1.2em;
}

#id_headline {
    padding: 0.5em 0.4em;
    font-size: 16px;
}

#id_rating {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#id_body {
    padding: 0.4em;
    font-size: 16px;
}

.review-section button {
    align-self: flex-end;
    margin: 1em;
}


/*Responsive design from laptop to desktop*/
@media screen and (min-width: 992px) {
    .content-section {
        width: 70%;
    }

    .ticket-details {
        margin: 20px 50px;
        gap: 10px;
    }

    .review-section .form-input {
        margin: 0 20px;
    }
}