.ticket-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ticket-section form {
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 1.5em;
}

.ticket-section .form-input {
    display: flex;
    flex-direction: column;
    gap: 0.5em
}

.ticket-section label {
    font-weight: 600;
    font-size: 1.5em;
    text-decoration: none;
}

#id_title {
    padding: 0.5em 0.4em;
    font-size: 16px;
}

#id_description {
    padding: 0.4em;
    font-size: 16px;
}

.ticket-section button {
    align-self: flex-end;
    margin-bottom: 2em;
}