.deletion-confirmation-section {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 25px;
    text-align: center;
}

p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
}

.item-to-be-deleted {
    margin-top: 0.5em;
    font-size: 20px;
}

.button-section {
    display: flex;
    flex-direction: row;
}

.default-button {
    margin: 2.5em 2em 2em auto;
}


/*Responsive design from laptop to desktop*/
@media screen and (min-width: 992px) {
    h2 {
        font-size: 2em;
    }

    p {
        margin-left: 20px;
        font-size: 2em;
    }

    .item-to-be-deleted {
        font-size: 1.3em;
    }
}
