.posts-tab {
    display: flex;
    flex-direction: column;
}

.ticket-section,
.review-section {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--lightest-color);
    padding: 10px;
    width: 90%;
    margin: auto;
    gap: 15px;
}

.post-details {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    gap: 20px;
}

.title-and-stars {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: end;
}

.star-icon {
    width: 15px;
    height: auto;
    object-fit: contain;
}

.post-image {
    max-height: 220px;
    height: auto;
    width: auto;
    object-fit: contain;
    align-self: center;
    margin: 10px auto;
}

.creation-date {
    align-self: flex-end;
    font-size: 13px;
}

.creator {
    font-weight: 600;
    font-size: 15px;
    color: var(--medium-dark-color);
}

.review-ticket-info {
    background-color: var(--medium-light-color);
    display: flex;
    flex-direction: column;
    border: 3px solid var(--medium-dark-color);
    padding: 10px 10px;
    gap: 10px;
}

.review-ticket-info p {
    font-size: 15px;
}

h4 {
    font-size: 15px;
}

.button-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 15px auto 10px;
}


/*Responsive design from medium to large screen*/
@media screen and (min-width: 768px) {
    .ticket-section,
    .review-section {
        width: 770px;
    }

    .post-details {
        width: 650px;
    }

    .review-ticket-info {
        margin: 20px 50px 0;
    }

    .button-section {
        justify-content: right;
        margin: 20px 10px 5px;
    }
}
