{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>LITReview</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block css %}{% endblock css %}
    </head>
    <body>
        <header>
            <div class="nav-bar">
                <h1>LITReview</h1>
                {% if user.is_authenticated %}
                    <div class="tabs">
                        <a href="{% url 'home' %}">Flux</a>
                        <a href="{% url 'posts' %}">Posts</a>
                        <a href="{% url 'subscriptions' %}">Abonnements</a>
                        <a href="{% url 'logout' %}">Se déconnecter</a>
                    </div>
                {% endif %}
            </div>
        </header>
        <section>
            {% block content %}{% endblock content %}
        </section>
    </body>
</html>