{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'flux/create_review.css' %}">
{% endblock css %}

{% block content %}
    <div class="content-section">
        <h2>{{ page_title }}</h2>
        <div class="ticket-section">
            <h3>Vous êtes en train de poster en réponse à</h3>
            <div class="ticket-details">
                <div class="ticket-header">
                    <p>{{ ticket.user }} a demandé une critique</p>
                    <p>{{ ticket.time_created }}</p>
                </div>
                <p>{{ ticket.title }}</p>
                <p>{{ ticket.description }}</p>
                {% if ticket.image.url is not None %}
                    <img src="{{ ticket.image.url }}">
                {% endif %}
            </div>
        </div>
        <div class="review-section">
            <h3>Critique</h3>
            <form method="post">
                {% csrf_token %}
                <div class="form-input">
                    {{ form.headline.label_tag }}
                    {{ form.headline }}
                    {% for error in form.headline.errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-input">
                    {{ form.rating.label_tag }}
                    {{ form.rating }}
                </div>
                <div class="form-input">
                    {{ form.body.label_tag }}
                    {{ form.body }}
                    {% for error in form.body.errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                </div>
                <button class="default-button" type="submit">Envoyer</button>
            </form>
        </div>
    </div>
{% endblock content %}
