{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'flux/delete_ticket.css' %}">
{% endblock css %}

{% block content %}
    <div class="deletion-confirmation-section">
        <h2>Confirmation suppression d'une critique</h2>

        <p>Êtes-vous sûr de vouloir supprimer cette critique :</p>
        <p class="item-to-be-deleted">{{ review.headline }} - Créé le : {{ review.time_created }}</p>

        <div class="button-section">
            <a class="default-button" href="{% url 'tickets' %}">Retour</a>
            <form action="" method="post">
                {% csrf_token %}
                <input class="default-button" type="submit" value="Supprimer">
            </form>
        </div>
    </div>
{% endblock content %}