{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'flux/create_ticket.css' %}">
    <link rel="stylesheet" href="{% static 'flux/modify_ticket.css' %}">
{% endblock css %}

{% block content %}
    <div class="ticket-section">
        <h2>Modifier votre ticket</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-input">
                {{ form.title.label_tag }}
                {{ form.title }}
                {% for error in form.title.errors %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-input">
                {{ form.description.label_tag }}
                {{ form.description }}
                {% for error in form.description.errors %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-input">
                {{ form.image.label_tag }}
                {% if ticket.image.url is not None %}
                    <img
                        src="{{ ticket.image.url }}"
                        alt="Image du billet : &quot;{{ ticket.title }}&quot;"
                    >
                {% endif %}
                <div class="img-input-details">
                    {{ form.image }}
                </div>
            </div>
            <button class="default-button" type="submit">Envoyer</button>
        </form>
    </div>
{% endblock content %}