{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'flux/posts.css' %}">
{% endblock css %}

{% block content %}
    <div class="posts-tab">
        <h2>Vos posts</h2>
        {% for post in posts %}
            {% if post.type == "ticket" %}
                <div class="ticket-section">
                    <h4>Vous avez publié un ticket</h4>
                    <div class="post-details">
                        <p class="creation-date">{{ post.time_created }}</p>
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.description }}</p>
                        {% if post.image.url is not None %}
                            <img class="post-image" src="{{ post.image.url }}">
                        {% endif %}
                    </div>
                    <div class="button-section">
                        <a class="default-button" href="{% url 'modify_ticket' post.id %}">Modifier</a>
                        <a class="default-button" href="{% url 'delete_ticket' post.id %}">Supprimer</a>
                    </div>
                </div>
            {% elif post.type == "review" %}
                <div class="review-section">
                    <h4>Vous avez publié une critique</h4>
                    <div class="post-details">
                        <p class="creation-date">{{ post.time_created }}</p>
                        <div class="title-and-stars">
                            <h3>{{ post.headline }} - </h3>
                            <div class="star-rating">
                                {% for i in star_range %}
                                    {% if i <= post.rating %}
                                        <img class="star-icon" src="{% static 'img/full-star-icon.png' %}">
                                    {% else %}
                                        <img class="star-icon" src="{% static 'img/empty-star-icon.png' %}">
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <p>{{ post.body }}</p>
                        <div class="review-ticket-info">
                            <p>Ticket - {{ post.ticket.user }}</p>
                            <h5>{{ post.ticket.title }}</h5>
                            {% if post.ticket.image.url is not None %}
                                <img class="post-image" src="{{ post.ticket.image.url }}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="button-section">
                        <a class="default-button" href="{% url 'modify_review' post.ticket.id post.id %}">Modifier</a>
                        <a class="default-button" href="{% url 'delete_review' post.ticket.id post.id %}">Supprimer</a>
                    </div>
                </div>    
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}