{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>Vos posts</h2>
    <ul>
        {% for post in posts %}
            {% if post.type == "ticket" %}
                <div class="ticket-section">
                    <p>Vous avez publié un ticket</p>
                    <li>{{ post.time_created }}</li>
                    <li>{{ post.title }}</li>
                    <li>{{ post.description }}</li>
                    {% if post.image.url is not None %}
                        <li><img src="{{ post.image.url }}"></li>
                    {% endif %}
                    <a href="{% url 'modify_ticket' post.id %}">Modifier</a>
                    <a href="{% url 'delete_ticket' post.id %}">Supprimer</a>
                </div>
            {% elif post.type == "review" %}
                <div class="review-section">
                    <p>Vous avez publié une critique</p>
                    <li>{{ post.time_created }}</li>
                    <li>{{ post.headline }}</li>
                    <li>{{ post.body }}</li>
                    <a href="{% url 'modify_review' post.ticket.id post.id %}">Modifier</a>
                    <a href="{% url 'delete_review' post.ticket.id post.id %}">Supprimer</a>
                </div>    
            {% endif %}
        {% endfor %}
    </ul>
{% endblock content %}