{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>Vos posts</h2>
    <ul>
        {% for ticket in tickets %}
            <p>Vous avez publié un ticket</p>
            <li>{{ ticket.time_created }}</li>
            <li>{{ ticket.title }}</li>
            <li>{{ ticket.description }}</li>
            {% if ticket.image.url is not None %}
                <li><img src="{{ ticket.image.url }}"></li>
            {% endif %}
            <a href="{% url 'modify_ticket' ticket.id %}">Modifier</a>
            <a href="{% url 'delete_ticket' ticket.id %}">Supprimer</a>
        {% endfor %}
        {% for review in reviews %}
            <p>Vous avez publié une critique</p>
            <li>{{ review.headline }}</li>
            <li>{{ review.body }}</li>
            <a href="{% url 'modify_review' review.ticket.id review.id %}">Modifier</a>
            <a href="{% url 'delete_review' review.ticket.id review.id %}">Supprimer</a>
        {% endfor %}
    </ul>
{% endblock content %}