* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #2A282A;
    text-decoration: none;
}

body {
    background-color: #EBEAEB;
}

.nav-bar {
    display: flex;
    background-color: #A18B7D;
    height: 100px;
    width: 100%;
    justify-content: center;
}

h1 {
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 45px;
    padding: 0.2em;
    z-index: 0;
}

.nav-bar .tabs {
    display: flex;
    flex-direction: row;
    height: 40%;
    z-index: 1;
    align-self: end;
} 

.tabs a {
    display: block;
    color: white;
    font-size: 14px;
    height: 100%;
    padding: 0 15px;
    align-content: center;
}

.tabs a:hover {
    background-color: #CCC2B8;
    color: #2A282A;
    height: 100%;
}

h2 {
    font-size: 2em;
    margin: 0.9em auto 0.7em;
}

.default-button {
    box-sizing: border-box;
    background-color: #CCC2B8;
    border: 1px solid #A18B7D;
    border-radius: 0.5em;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: medium;
    padding: 0;
    line-height: 1;
}

.default-button:hover {
    background-color: #A18B7D;
    color: white;
    cursor: pointer;
}

.default-button:active {
    background-color: #CCC2B8;
    color: #2A282A;
    box-shadow: 2px 2px 5px #A18B7D;
}

.error-message {
    color: red;
    font-size: 13px;
}


/*Responsive design from medium to large screen*/
@media screen and (min-width: 768px) {
    h2 {
        font-size: 2.5em;
        margin: 1.5em auto 1.2em;
    }
}


/*Responsive design to avoid nav-bar elements overlap*/
@media screen and (min-width: 1100px) {
    .nav-bar {
        height: 80px;
        justify-content: end;
        align-items: center;
    }

    .nav-bar .tabs {
        height: 100%;
    }

    .tabs a {
        font-size: 16px;
    }
}