{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'authentication/login.css' %}">
{% endblock css %}

{% block content %}
    <div class="login-page">
        <div class="signup-section">
            <h2>Inscrivez-vous maintenant</h2>
            <a class="default-button" href="{% url 'signup' %}">S'inscrire</a>
        </div>
        <div class="login-section">
            <h2>Connectez-vous</h2>
            <p class="error-message">{{ message }}</p>
            <form method="post">
                {% csrf_token %}

                <!-- Add invisible labels for screen readers -->
                <label
                    class="accessible-labels"
                    for="{{ form.username.id_for_label }}">
                        {{ form.username.label }}
                </label>
                {{ form.username }}

                <!-- Add invisible labels for screen readers -->
                <label
                    class="accessible-labels"
                    for="{{ form.password.id_for_label }}">
                        {{ form.password.label }}
                </label>
                {{ form.password }}
                <button class="default-button" type="submit">Se connecter</button>
            </form>
        </div>
    </div>
{% endblock content %}