{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'authentication/signup.css' %}">
{% endblock css %}

{% block content %}
    <div class="signup-page">
        <h2>Inscrivez-vous</h2>
        <form method="post">
            {% csrf_token %}

            <!-- Add invisible labels for screen readers -->
            <label
                class="accessible-labels"
                for="{{ form.username.id_for_label }}">
                    {{ form.username.label }}
            </label>
            {{ form.username }}
            {% for error in form.username.errors %}
                <p class="error-message">{{ error }}</p>
            {% endfor %}

            <!-- Add invisible labels for screen readers -->
            <label
                class="accessible-labels"
                for="{{ form.password1.id_for_label }}">
                    {{ form.password1.label }}
            </label>
            {{ form.password1 }}
            {% for error in form.password1.errors %}
                <p class="error-message">{{ error }}</p>
            {% endfor %}

            <!-- Add invisible labels for screen readers -->
            <label
                class="accessible-labels"
                for="{{ form.password2.id_for_label }}">
                    {{ form.password2.label }}
            </label>
            {{ form.password2 }}
            {% for error in form.password2.errors %}
                <p class="error-message">{{ error }}</p>
            {% endfor %}

            <div class="return-signup">
                <a class="default-button" href="{% url 'login' %}">Retourner</a>
                <button class="default-button" type="submit">S'inscrire</button>
            </div>
        </form>
    </div>    
{% endblock content %}